
asgiref
certifi
charset-normalizer
click
colorama
Django==5.1.15
django-cors-headers
djangorestframework
gunicorn
idna
numpy>=1.24,<2.0
pandas
pdfminer.six
pdfplumber
pillow
pypdfium2
python-dateutil
python-dotenv
reportlab
requests
six
sqlparse
tzdata
urllib3
whitenoise
